/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: 10 10 12;
  --text: 236 236 239;
}

html, body { height: 100%; }

body {
  color: rgb(var(--text));
  position: relative;
  background: rgb(var(--bg));
}

::selection { background: rgba(99, 102, 241, .35); }

body::before{
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background:
    radial-gradient(1200px 600px at 20% 10%, rgba(99,102,241,.20), transparent 60%),
    radial-gradient(900px 500px at 80% 20%, rgba(56,189,248,.14), transparent 60%),
    radial-gradient(800px 450px at 60% 80%, rgba(244,114,182,.12), transparent 55%),
    rgb(var(--bg));

  transform: translateZ(0);
  will-change: transform;
}

:root {
  /* light */
  --bg: 255 255 255;
  --text: 17 24 39;
  --muted: 107 114 128;

  --card: 255 255 255;
  --card-alpha: 0.75;

  --border: 17 24 39;
  --border-alpha: 0.10;

  --chip: 17 24 39;
  --chip-alpha: 0.06;

  --hover: 17 24 39;
  --hover-alpha: 0.08;

  --accent: 99 102 241; /* indigo */
}

.dark {
  /* dark */
  --bg: 10 10 12;
  --text: 236 236 239;
  --muted: 161 161 170;

  --card: 255 255 255;
  --card-alpha: 0.04;

  --border: 255 255 255;
  --border-alpha: 0.10;

  --chip: 255 255 255;
  --chip-alpha: 0.05;

  --hover: 255 255 255;
  --hover-alpha: 0.10;

  --accent: 99 102 241;
}
